html{
    background-image: url("WileECyoteACME.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 25px;
    padding-left: 25px;
    padding-right:  25px;
    padding-bottom: 25px;
}

div{
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 15px;
    text-align: center;
}

div.transbox{
    background-color: rgba(157, 157, 157, 0.85);
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 15px;
    border-style: ridge;
    border-radius: 30px;
}

div.outerbox{
    background-color: rgba(0, 188, 217, 0.514);
    padding-top: 5px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 30px;
    display: inline-block;
    border-style: groove;
}

div.innerbox{
    background-color: rgba(69, 231, 60, 0.49);
    text-align: center;
    display: inline-block;
    border-style: groove;
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 20px;
}

h1 {
    font-size: 25px;
    text-align: center;
}

table {
    border: 1px solid rgb(63, 63, 63);
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}

tr{
    border: 1px solid rgb(61, 61, 61);
    border-collapse: collapse;
    background-color: rgba(0, 110, 178, 0.644);
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}

th {
    border: none;
    border-collapse: collapse;
    background-color: rgba(200, 200, 200, 0.823);
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}

td {
    border: none;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.844);
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}

img{
    margin-left: auto;
    margin-right: auto;
}

.hide {
    color: transparent;
    float:right;
}

.hide:hover {
    font-size:small; 
    color: blue;
    float:right;
  }

.edit {
    border:none;
}
