<html>
<title>Discover the meaning of life</title>
<!--link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"-->
<div class="transbox">

    <head>
        <h1 class="pageTitle">New Questions:</h1>
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/bougie.css') }}">
        <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    </head>

    <body>
        <nav class="main-menu">
            <div class="topnav">
                <i class="fa fa-search fa-lg"></i>
                <form class="form-control" method="POST" action="{{url_for('find')}}">
                    <input id="navSearch" type="text" name="filtered" placeholder="Search...">
                </form>
            </div>
            <div>
                <a class="logo" href="{{ url_for('aboot')}}"></a>
            </div>
            <div class="settings"></div>
                <div class="scrollbar" id="style-1">
                    <ul>
                        <li>
                            <a href="{{ url_for('aboot')}}">
                            <i class="fa fa-home fa-lg"></i>
                            <span class="nav-text">Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('login')}}">
                            <i class="fa fa-user fa-lg"></i>
                            <span class="nav-text">Login / Register</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('dashboard')}}">
                            <i class="fa fa-envelope-o fa-lg"></i>
                            <span class="nav-text">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('response', question_id=1)}}">
                            <i class="fa fa-question-circle fa-lg"></i>
                            <span class="nav-text">Response 1</span>
                            </a>
                        </li>
                            <ul class="logout">
                        <li>
                            <a href="{{ url_for('logout')}}">
                            <i class="fa fa-lightbulb-o fa-lg"></i>
                            <span class="nav-text">Log Out</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="newPostButton">
                <button id="askButton" class="button-41" type="button" onclick="myFunction()">Ask a Question!</button>
                <button id="closeButton" class="button-41" type="button" onclick="myFunction()">Close</button>
            </div>
            <script>
                function myFunction() {
                    var x = document.getElementById("newPost");
                    var y = document.getElementById("closeButton");
                    var z = document.getElementById("askButton")
                        if (x.style.display === "block") {
                            x.style.display = "none";
                        } else {
                            x.style.display = "block";
                        }
                        if (y.style.display === "block") {
                            y.style.display = "none";
                            z.style.display = "block";
                        } else {
                            y.style.display = "block";
                            z.style.display = "none";
                        }
                    } 
            </script>
            <div id="newPost" class="newPost">
            <h1>Post A Question: </h1>
                <form action="" method = "POST" enctype="multipart/form-data">
                    <textarea id="askquestion" name="askquestion" rows="5" cols="60"></textarea><br>
                    <input type="file" name="inputFile">
                    <button id="submitBtn" class="button-41" type="submit" class="btn btn-primary">Submit</button>
                    <!--<div class="form-group">
                        <label for="inputFile">File input</label>
                        <input class="form-control-file" type="file" name="inputFile">
                    </div> -->
                </form>
        <p></p>
        <p></p>
        </div>
        <div class="innerbox">
            <table class="questionTable">
                {% for image in preguntas %}
                    {% set something = preguntas[loop.index-1] %}
                    {% set image = images[loop.index-1] %}
                <tr>
                    <th>
                        <td> 
                            <div class="postTitle">
                            <a href="{{ url_for('response', question_id=something.id) }}"><h1 class="list-group-item">{{ something.posts }}</h1></a>
                            </div>
                            <div class="poster">
                                {% if image != '' %}
                                    <li><img src="data:image/png;base64,{{image}}" width="200" height="100"></li>
                                {% endif %}
                            Posted By: {{ something.name }}
                            </div>
                        </td>
                    </th>
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>


</html>