<html>
    <title>Doge Guide</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <div class = "transbox">
    <head>
        <h1>A breed example guide for first time dog owners</h1>
    </head>

    <body>
        <img src="static/css/dallas.png">
        <p><h1>German Shepherd</h1></p>
        <p>Life Expectancy: 9-13 years</p>
        <p>Weight: Male: 66-88 lbs, Female: 49-71 lbs</p>
        <p>As one of the smartest dog breeds in the world, the German Shepherd is widely utilized as a working dog in many roles.
            Strong, curious, loyal, brave and intelligent, they are some of the best companions someone could ask for.  
            However, with their intelligence, size and free spirit, they can be seen as a very stubborn breed, so training is very important for owners to enforce.</p>
        <p>In addition to being very responsive to training, this breed also makes a great family dog with its protective and vigilant nature, but every breed has its share of troubles and the german shepherd is no exception.  
            They are vulnerable to many breed-related illnesses, and with their active lifestyles and large size, are also vulnerable to joint problems.  
            In addition to this, they are expensive to own and shed constantly, but if you are prepared for that and their large personalities, German Shepherds make great companions.</p>
        
        <img src="static/css/pedey.png">
        <p><h1>Labrador Retriever</h1></p>
        <p>Life Expectancy: 10-12 Years</p>
        <p>Weight: Male: 64-79 lbs, Female: 55-71 lbs</p>
        <p>Friendly, kind, gentle and loyal, the Labrador Retriever has long been the most popular dog breed to own in America.  
            This breed is possibly one of the easiest big dog breeds to own and is a wonderful addition to any family since they 
            seem to enjoy the company of people so much in addition to being wonderful with children due to their friendly and gentle natures.</p>
        <p>Labrador Retrievers are very eager to please and are relatively intelligent amongst dogs, which makes them very easy to train.  
            Being short haired dogs also reduces many shedding problems.  
            As they are a hunting breed, owners will need to be ready to keep them active as they are very high energy breeds and they will find their own ways of expending that energy on their own if they are left alone.  
            Being a larger breed, one does need to be mindful of their joint health in their later years</p>

        <img src="static/css/looney.png"> 
        <p><h1>Siberian Husky</h1></p>
        <p>Life Expectancy: 12-15 years</p>
        <p>Weight: Male: 44-60 lbs, Female: 35-51 lbs</p>
        <p>This beautiful breed was bred for two things: A thick coat to live comfortably in the snow, and pulling entire sleds over multiple miles at a time.  
            This breed is popular for its beauty and enormous personality.  
            Many unprepared owners are attracted to these qualities, but tend to lose sight of the downsides of these traits.</p>
        <p>While this breed is generally friendly and gentle to people, they are extremely high energy, which makes these dogs very difficult to keep calm.  
            With their extreme personalities, they are not afraid to be loud to express themselves.  
            Their snow ready coats also make them very uncomfortable in warmer environments and cause them to shed tons of fur.</p>
    </body>
</div>
</html>