<html>
    <title>ERBMG</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <head>

    </head>

    <body>
        <div class = "transbox">
        <p><h1>Elden Ring Quick Guides: Big Money Run</h1></p>
        <p>	Whoever coined the phrase “money makes the world go around” clearly lacked vision.  Money makes EVERY world go around!  
            So to conquer the Lands Between and ascend to the throne of Elden Lord 
            (or Lady, Queen Marika - apparently having married both men and women while being both a man and a woman at various points of her life - is an advocate for True Gender Equality), 
            YOU NEED THE MONEY TO SMOTHER ALL OF YOUR PLEBEIAN HATERS! Luckily for you lowly and maidenless Tarnished, I, the slick LiquidWolf, 
            am the man to teach you how to make those sweet, sweet runes of gold.  Without further ado, let us make money!</p>
        <p>Now, the road to a Big Money Run is relatively short in the epic that is Elden Ring.  
            In the first errands, you are going to need to find the means to seize power: a weapon.  
            If you are a Tarnished of integrity, you will have picked the level 1 Wretch as your starting class, with only a thicc stick and the Lands Between Rune to your name.  
            For now, merely waltz through the game and complete the tutorial; this way, you are already sucking in as many runes as possible.  
            As you continue your journey, you will want to be fighting to continue collecting runes which you will need to gain levels in addition to the items you will need in the harder and more rewarding fights ahead.</p>
        <p>For the most difficult part of this guide, you will want to get a strong weapon, ones with either the impale or stamp (uppercut) weapon arts, as well as a quickstep weapon.  
            For those that chose to rely on magic, I suggest deleting your character and getting good at the game before attempting this endeavor.</p>
        <p>After you feel comfortable with your power and inventory, head over to Murkwater Cave.  You will have to defeat the invader Nerijus before you can enter.  
            Once you do that, head inside and defeat the boss inside.  Spare or execute him when he begs for his life, that is up to you, it makes no difference.  
            If you spare him, leave and rest at the site of grace at the entrance and go back to the boss room, where he will now act as a merchant.  
            Should you choose to end his life, go to the Twin Maiden Husks and offer the bell bearing you received.  Purchase the Missionary Cookbook and the Gold Pickled Fowl Feet.  
            The former will allow you to craft the latter, which when consumed, will provide a buff that increases runes gained from defeated enemies.</p>
        <p>The most difficult part of this guide begins now:  You will need to navigate to the red rotted Caelid Wilds, east of Limgrave.  
            When arriving in Caelid, run along the cliffs to the north of the abandoned camp with the giant crow, here you will find where the cliffs are close enough for Torrent to leap across into Greyolls Dragonbarrow.  
            Now make your way to the Abandoned Cave.  Using Quickstep to traverse through the rot swamp inside, you will avoid becoming infected with Rot.  
            Make your way through and defeat the two cleanrot knights at the end.  Stay safe, but don't dally, as the second knight can provide a health regeneration buff, and abuse your weapon art to kill the first as quickly as possible.  
            Once victorious, you will be rewarded with the Golden Scarab talisman, which will passively increase runes and will stack multiplicatively with the fowl foot buff.  
            To see how effective this simple combo is, return to the dragonbarrow and defeat the great dragon Greyoll and reap the immense reward.  Enjoy 144% rune gains for the rest of your playthrough!</p>
            <iframe src="https://www.youtube.com/embed/gSb2cYBxxOM" style = "width: 50%; height: 50%;"></iframe>
    </body>
</div>
    <script src = "{{ url_for('static', filename = 'js/learn.js')}}" ></script>
</html>