<html>
    <title>Heart Tugging Moments in Gaming</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <div class = "transbox">
    <head>
        <h1>Heart Tugging Moments in Gaming</h1>
    </head>

    <body>
        <img src="static/css/radahn.jpg" style = "width: 30%; height: 30%;">
        <p><h1>Radahn learned Gravity Magic</h1></p>
        <p>As big and scary as Starscourge Radahn may be, he has a soft spot in his heart for his scrawny horse that the player community has dubbed “Leonard.”  One thing that many players asked themselves when getting slammed by the 20 foot tall behemoth who defeated the stars in combat was, “How is he not flattening that horse?”  Simple: gravity magic.  It is a canonical fact that the good general learned gravity magic to keep his steed by his side.</p>
        
        <img src="static/css/sif.png">
        <p><h1>Sif Guarding Artorias’s Grave</h1></p>
        <p>The big bad Great Grey Wolf Sif is widely known as a tragic character in the Dark Souls series.  Being a mandatory boss fight, players would normally feel bad having to put down the beautiful creature, but the heart strings are tugged even more when they learned that he was simply guarding his late master’s grave.  But the First Flame must be rekindled, so the loyal pup must be smited and the grave must be robbed.</p>
        
        <img src="static/css/lunartears.png">
        <p><h1>Vigil in Nier: Automata</h1></p>
        <p>Throughout the story of Nier: Automata, the player will come across many characters who will eventually meet their tragic ends.  While all their ends are somewhat sad, one particular character who the player and their party would feel close to meets a long and painful death that the player is forced to witness.  Sometime afterwards, the player can find a hidden cave where the only light source are beautiful bioluminescent flowers.  The main character can then hold a silent vigil for his fallen partner before marking a symbolic grave for them.</p>
    </body>

    </div>
</html>