<html>
    <title>Questions!!!!!!!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <div class = "transbox">
    <head>
        <p stylr="text-align: center;"> Would you like to post a question?</p>
        <p style="text-align: right;"> <a href={{ url_for('question') }}>Logout</a></p>
        <h1>ACME University</h1>
        <p style="text-align: left;">Hello, here are the questions:</p>
        <p style="text-align: right;"> <a href={{ url_for('logout') }}>Logout</a></p>
        
    </head>

    <body>
    </body>
</div>
</html>