<html>
{% block content %}
<title>Feel free to join the discussuion!</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<div class="transbox">

    <head>
        <h1>ACME University</h1>
        <div class="outerbox">
            <h1>Current Discussion: </h1>
            <p style="text-align: left;">Hello, here are the questions:</p>
            <div class="list-group">
                <h4 class="list-group-item-heading">{{ questions.posts }}</h4>
                {% for something in replys %}
                {{something.posts}}
                {{something.name}}
                <a href="{{ url_for('upvote', reply=something.id) }}" class="list-group-item">
                    <span>&#8593;</span>
                </a>
                {{ something.likes }}
                {% endfor %}
                <form class="form-control" method="POST" action="{{url_for('response', question_id=questions.id)}}">
                    <textarea class="form-control" id="answer" name="answer" rows="5" cols="60"></textarea>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <p style="text-align: right;"> <a href={{ url_for('logout') }}>Logout</a></p>
    </head>

    <body>
    </body>
</div>
{% endblock %}

</html>