<html>
{% block content %}
<title>Feel free to join the discussuion!</title>
<!--link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"-->
<div class="transbox">

    

    <head>
        <h1 class="pageTitle">Reply:</h1>
        <div class="outerbox">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/bougie.css') }}">
        <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
   
    </head>

    <body>
        
        <nav class="main-menu">
            <div class="topnav">
                <i class="fa fa-search fa-lg"></i>
                <form class="form-control" method="POST" action="{{url_for('find')}}">
                    <input id="navSearch" type="text" name="filtered" placeholder="Search...">
                </form>
            </div>
            <div>
                <a class="logo" href="{{ url_for('aboot')}}"></a>
            </div>
            <div class="settings"></div>
                <div class="scrollbar" id="style-1">
                    <ul>
                        <li>
                            <a href="{{ url_for('aboot')}}">
                            <i class="fa fa-home fa-lg"></i>
                            <span class="nav-text">Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('login')}}">
                            <i class="fa fa-user fa-lg"></i>
                            <span class="nav-text">Login / Register</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('dashboard')}}">
                            <i class="fa fa-envelope-o fa-lg"></i>
                            <span class="nav-text">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('response', question_id=1)}}">
                            <i class="fa fa-question-circle fa-lg"></i>
                            <span class="nav-text">Response 1</span>
                            </a>
                        </li>
                            <ul class="logout">
                        <li>
                            <a href="{{ url_for('logout')}}">
                            <i class="fa fa-lightbulb-o fa-lg"></i>
                            <span class="nav-text">Log Out</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        <div class="outerbox">
            <div class="commenterLikes3">
                <a class="commenterUpLikes3" href="upboats"><i class="fa fa-chevron-circle-up fa-2x" aria-hidden="true"></i></a>
                <p class="commenterLikesNum3">{{questions.likes}}</p>
                <a class="commenterDownLikes3" href="downboats"><i class="fa fa-chevron-circle-down fa-2x" aria-hidden="true"></i></a></div>
            
            </div>
            <div class="list-group">
                <h1 class="list-group-item-heading">{{ questions.posts }}</h1>
                <p>by {{questions.name}}</p>

                <div class="innerboxC">
                    Replies:
                    <table>
                    {% for something in replys %}
                    <div class="comments">                    
                        <tr>
                            <td class="votebox">
                                <div class="commenterLikes">
                                    <a class="commenterUpLikes" href="upboats"><i class="fa fa-chevron-circle-up" aria-hidden="true"></i></a>
                                    <p class="commenterLikesNum">{{something.likes}}</p>
                                    <a class="commenterDownLikes" href="downboats"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a></div>
                                </div>
                            </td>
                            <td class="commentbox">
                                {{something.posts}} 
                                <p class="commenter">by {{something.name}}</p>
                            </td>
                        </tr>
                    {% endfor %}
                    </table>    
                </div>    <br>   
                Reply to {{questions.name}}:
                <form class="form-control" method="POST" action="{{url_for('response', question_id=questions.id)}}">
                    <textarea class="form-control" id="answer" name="answer" rows="5" cols="60"></textarea>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <p><a href={{ url_for('dashboard') }}>&lt;&lt; Return to Posts</a></p>
            </div>
            
    </div>
    </body>
</div></div>
{% endblock %}
</html>
